[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
pydantic = "*"
fastapi = "*"
redis = "*"
asyncpg = "*"
Authlib = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.SQLAlchemy]
extras = [ "asyncio",]

[packages.uvicorn]
extras = [ "standard",]

[packages.python-jose]
extras = [ "cryptography",]
